* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bord {
  border-radius: 0.5rem;
  border-color: lightgray;
  border-style: solid;
}

.ingreso {
  width: 18%;
}

.caracter {
  font-size: 0.8em;
}

.some {
  width: 18%;
}

.caja {
  height: 260px;
}