@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Regular.ttf");
}

*{
  font-family: Roboto;
}

.lineHr{
  width: 100%;
  background-color: #40a9ff;
  height: 2px;
}

.colorPermisos{
  color: #1890ff;
}